.Company {
  &__mainWrapper {
    width: 100%;
    background-image: url("../../asset/image/company/main_bg.png");
    background-size: 1908px 562px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #f3a127;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 560px;

    h2 {
      background-image: url("../../asset/image/logo_white.png");
      background-size: cover;
      background-position: 0 0;
      width: 425px;
      height: 108px;
      margin-top: 29px;
      margin-bottom: 36px;
      @mixin hideText;

      @mixin Smp {
        width: 320px;
        height: 80px;
      }
    }

    h3 {
      color: white;
      text-align: center;
      @mixin font-size 29;

    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 100px;

    @mixin Smp {
      padding: 80px 10px;
    }
    

    &--info {
      padding: 80px 100px;

      @mixin Smp {
        padding: 80px 10px;
     }
    }

    &--access {
      padding: 80px 0;

      @mixin Smp {
        p {
          padding: 0 10px;

        }
      }
    }

    p {
      color: $text_gray;
      text-align: center;
      @mixin font-size 18;
      line-height: 31px;
    }

    p + p {
      margin-top: 44px;
    }

    &--info {
      background-color: $bg_light_gray;
      background-image: url(../../asset/image/company/box_bg.png);
      background-repeat: no-repeat;
      background-size: 378px 393px;
      background-position: 90% 150px;
    }

  }

  &__title {
    margin-bottom: 66px;
    border-bottom: 2px solid $orange;
    padding: 0 34px 32px;

    b {
      display: inline-block;
      text-align: center;
      @mixin font-size 30;
    }

    .Company__wrapper--info & {
      margin-bottom: 114px;
    }

  }

  &__info {
    th,td {
      color: $text_gray;
      line-height: 38px;
      padding-bottom: 20px;
    }
    th {
      font-weight: normal;
      text-align: left;
      vertical-align: top;
      padding-right: 67px;

      @mixin Smp {
        width: 8em;
        padding-right: 10px;
      }
    }
  }

  .dummy {
    height: 518px;
    width: 100%;
    background: lightgray;
    margin-top: 78px;
  }
}