.Top {
  &__mainWrapper {
    width: 100%;
    padding: 60px 0 160px;
    background-image: url("../../asset/image/top/main_bg.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #f3a127;
  
    @mixin notPC {
      padding-bottom: 84px;
    }
  }

  &__main {
    max-width: 1122px;
    margin: 0 auto;
  }

  &__mainContents {
    display: flex;
    align-items: center;
    justify-content: center;

    @mixin notPC {
      flex-direction: column;
    }
  }

  &__mainMovieWrapper {
    position: relative;
    flex: 1;
    width: 100%;

    @mixin notPC {
      width: 685px;
      margin-bottom: 32px;
    }
    @mixin Smp {
      padding: 0 10px;
      width: 100%;
    }
  }

  &__mainMovie {
    background-color: lightgray;
    background-image: url(../../asset/image/top/main_movie.png);
    background-size: cover;
    padding-top: calc(420 / 630 * 100%);
    width: 100%;
    height: auto;

    @mixin notPC {
      order: 1;
    }
  }

  &__mainTextWrapper {
    flex-direction: column;
    color: white;
    line-height: 28px;

    @mixin PC {
      margin-right: 6vw;
    }
    @mixin notPC {
      order: 2;
    }

    h2 {
      background-image: url("../../asset/image/logo_white.png");
      background-position: 0 0;
      background-size: 166px 43px;
      width: 166px;
      height: 43px;
      margin-bottom: 42px;

      @mixin hideText;
      @mixin notPC {
        display: none;
      }
    }

    h3 {
      margin-bottom: 42px;

      @mixin PC {
        max-width: 310px;
      }
      @mixin Tab {
        margin-bottom: 32px;
      }
      @mixin Smp {
        max-width: 400px;
        margin: 0 auto;
        padding: 0 10%;
      }

      span {
        background-image: url("../../asset/image/top/lead_text.png");
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: calc(98 / 305 * 100%);
        background-position: 50% 50%;
        height: auto;
        width: 100%;
        display: block;

        @mixin hideText;
        @mixin Tab {
          background-image: url("../../asset/image/top/lead_text_1line.png");
          padding-top: calc(68 / 1192 * 100%);
          margin: 0 auto 32px;
        }
        @mixin Smp {
          background-image: url("../../asset/image/top/lead_text_2line.png");
          padding-top: calc(317 / 1021 * 100%);
          margin: 10px auto 32px;
        }
      }
    }

    .button {
      @mixin button-rounded; 
      max-width: 327px;
  
      @mixin notPC {
        margin: 0 auto;
      }
    }
  }

  &__mainText {
    margin-bottom: 42px;
    
    @mixin PC {
      width: 340px;
    }
    @mixin notPC {
      margin-bottom: 32px;
    }
    @mixin Smp {
      margin-bottom: 32px;
      max-width: 336px;
      padding: 0 10px;
    }
  }

  &__reason {
    padding-top: 80px;
  }

  &__reasonListWrapper {
    max-width: 1162px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 78px;

    @mixin notPC {
      max-width: 700px;
      padding-bottom: 0;
    }
  }

  &__reasonTitle {
    text-align: center;
    @mixin font-size 40;
    margin-bottom: 80px;

    @mixin Smp {
      @mixin font-size 32;
    }
  }

  &__reasonList {
    text-align: center;

    @mixin notPC {
      flex-basis: 50%;
      margin-bottom: 50px;
    }
    @mixin Smp {
      flex-basis: 100%;
      margin-bottom: 50px;
    }

    dt {
      @mixin font-size 22;
      margin-bottom: 14px;
    }

    dd {
      color: $text_gray;
      line-height: 28px;
    }

    .image {
      height: 68px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .Icon {
      margin-bottom: 26px;
    }
  }

  &__reasonContentsWrapper {
    width: 100%;
    padding-bottom: 80px;
    background: $bg_light_gray;
  }

  &__reasonContentsContainer {
    max-width: 1130px;
    margin: 0 auto;
  }

  &__reasonContentsMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 74px;

    li {
      width: 100%;
      border-top: 3px solid $border_light_gray;

      a {
        display: block;
        text-align: center;
        padding-top: 30px;
        color: $border_light_gray;
      }

      &.is-current {
        border-top-color: $orange;

        a {
          color: $orange;
        }
      }
    }

    li + li {
      margin-left: 10px;
    }

    @mixin Smp {
      display: none;
    }
  }

  &__reasonContents {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;

    @mixin notPC {
      flex-direction: column;
    }
    @mixin Smp {
      padding-top: 60px;
    }

    dl {
      flex: 1;
      margin-right: 10px;

      @mixin notPC {
        order: 2;
        text-align: center;
      }
    }

    .title {
      @mixin font-size 38;
      margin-bottom: 35px;

      @mixin PC {
        margin-bottom: 50px;
      }
    }

    .text {
      margin-bottom: 35px;
      line-height: 28px;
      color: $text_gray;

      @mixin PC {
        margin-bottom: 50px;
      }
      @mixin Smp {
        max-width: 290px;
      }
    }

    .button {
      @mixin button-square;
      color: $orange;
      border: 1px solid $orange;

      @mixin notPC {
        margin: 0 auto;
      }
      @mixin Smp {
        width: auto;
        max-width: 300px;
      }
    }

    img {
      height: auto;
      width: 100%;
      max-width: 700px;

      @mixin notPC {
        order: 1;
        margin-bottom: 35px;
      }
    }
  }

  &__productWrapperBg {
    background: $bg_light_gray;
  }

  &__productWrapper {
    max-width: 1162px;
    margin: 0 auto;
    padding-top: 80px;
  }

  &__productTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  &__product {
    display: flex;
    align-items: flex-end;
    padding-bottom: 68px;

    @mixin notPC {
      flex-direction: column;
      align-items: center;
    }

    .image1 {
      background-size: 625px 420px;
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 625px;
      height: 420px;
      margin-bottom: 50px;

      @mixin notPC {
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: 50%;
      }
    }

    .image2 {
      background-size: 547px 106px;
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 547px;
      height: 106px;
      margin-left: 38px;

      @mixin notPC {
        margin-top: -90px;
        margin-bottom: 40px;
      }
      @mixin Smp {
        max-width: 300px;
        background-size: contain;
        margin-left: 10px;
      }
    }
  }

  &__product--office {
    .image1 {
      background-image: url(../../asset/image/product_img1.png);
    }
    .image2 {
      background-image: url(../../asset/image/top/title_for_office.png);

      @mixin Smp {
        margin-top: -80px;
      }
    }
    .Top__productImages {
      @mixin PC {
        margin-right: 56px;
      }
    }
  }
  &__product--personal {
    .image1 {
      background-image: url(../../asset/image/product_img2.png);
    }
    .image2 {
      background-image: url(../../asset/image/top/title_for_personal.png);
      @mixin Smp {
        margin-top: -74px;
      }
    }
    .Top__productInfo {
      @mixin PC {
        margin-right: 56px;
        order: 1;
      }
    }
    .Top__productImages {
      @mixin PC {
        order: 2;
      }
    }
  }

  &__productImages {
    @mixin notPC {
      width: 100%;
    }
  }

  &__productInfo {
    flex: 1;

    @mixin notPC {
      max-width: 830px;
      display: flex;
      flex-wrap: wrap;
    }
    @mixin Smp {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h4 {
      display: block;
      text-align: center;

      @mixin notPC {
        flex-basis: 50%;
      }
    }
    
    .textWrapper {
      @mixin notPC {
        margin-top: 34px;
        flex-basis: 50%;
      }
      @mixin Smp {
        margin-top: 0;
      }
    }

    img {
      margin-bottom: 55px;

      @mixin Smp {
        max-width: 100%;
        height: auto;
      }
    }

    .title {
      margin-bottom: 35px;
      text-align: center;
      @mixin font-size 27; 
    }

    .text {
      margin-bottom: 70px;
      line-height: 26px;
      text-align: center;
      color: $text_gray;
    }

    .button {
      @mixin button-square;
      background-color: $green;
      color: white;
      border: none;
      width: 100%;
      margin-bottom: 40px;

      .Top__product--personal & {
        background-color: $light_green;
      }

      @mixin Smp {
        width: 300px;
      }
    }

    .Icon {
      margin: 0 auto;
    }
  }

  &__caseStudyWrapper {
    max-width: 1044px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;

    @mixin notPC {
      max-width: 862px;
    }
    @mixin Smp {
      padding-bottom: 40px;
    }

    .button {
      @mixin button-square;
      width: 480px;
      margin: 0 auto;
      display: none;
    }
  }

  &__caseStudyTitle {
    margin-bottom: 46px;

    .Icon {
      margin: 0 auto;
    }
  }
  
  &__caseStudyTitleText {
    margin-bottom: 90px;
    text-align: center;
    @mixin font-size 22;
    line-height: 1.3;
  }

  &__caseStudyItemList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px 35px 0;

    @mixin Smp {
      margin-right: 0;
    }
  }

  &__caseStudyItem {
    flex: 1;
    min-width: 332px;
    border: 1px solid $border_light_gray20;
    margin-right: 14px;
    margin-bottom: 35px;

    @mixin notPC {
      &:nth-child(5),
      &:nth-child(6) {
        display: none;
      }
    }
    @mixin Smp {
      margin-left: 28px;
      margin-right: 28px;
      min-width: auto;
    }

    .image {
      padding-top: calc(300 / 424 * 100%);
      background: $bg_dummy_gray;
    }
    .textWrapper {
      padding: 30px;
    }
    .Icon {
      margin-bottom: 24px;
    }
    .title {
      margin-bottom: 24px;
      line-height: 38px;
      @mixin font-size 24;
    }
    .text {
      margin-bottom: 36px;
      color: $text_gray;
      line-height: 24px;
      @mixin font-size 14;
    }
    .textlink {
      color: black;
      text-decoration: underline;
      @mixin font-size 14;
    }
  }

  &__newsWrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 70px;

    @mixin notPC {
      max-width: 862px;
    }
    @mixin Smp {
      display: none;
    }
  }

  &__newsItemWrapper {
    border-top: 1px solid $border_light_gray20;
  }

  &__newsItem {
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid $border_light_gray20;
    color: $text_gray;
    @mixin font-size 22;

    &--date {
      padding-left: 214px;

      @mixin notPC {
        padding-left: 45px;
      }
    }
    &--text {
      padding-left: 30px;
    }

    .is-new {
      display: inline-block;
      background-color: $orange;
      color: white;
      line-height: 1;
      padding: 3px 18px;
    }
  }

  &__newsTitle {
    margin-bottom: 46px;

    .Icon {
      margin: 0 auto;
    }
  }

  &__missionWrapper {
    width: 100%;
    padding: 76px 0 76px;
    background-image: url("../../asset/image/top/main_bg.png");
    background-size: 150%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #f3a127;

    @mixin notPC {
      background-size: cover;
    }
  }

  &__mission {
    display: flex;
    align-items: center;
    justify-content: center;

    @mixin notPC {
      flex-direction: column;
    }

    .logo {
      display: block;
      background-image: url("../../asset/image/logo_white.png");
      background-size: cover;
      width: 316px;
      height: 80px;
      margin-bottom: 40px;
      @mixin hideText;
    }
    .Icon {
      margin: 0 auto;

      @mixin notPC {
        margin-bottom: 70px;
      }
    }
    .textWrapper {
      margin-left: 70px;
      padding-left: 70px;

      @mixin PC {
        border-left: 1px solid white;
      }
      @mixin Smp {
        padding-left: 0;
        margin: 0 10px;
      }
    }
    .text {
      color: white;
      line-height: 38px;
      @mixin font-size 22;
      @mixin Smp {
        @mixin font-size 16;
        text-align: center;
      }
    }
    .text + .text {
      margin-top: 38px;
    } 
  }
}

