.Product {
  &__mainWrapper {
    position: relative;
    width: 100%;
    background-image: url("../../asset/image/product/main_bg.png");
    background-position: 50% 50%;
    background-size: cover;

    @mixin notPC {
      height: auto;
      padding-bottom: 50px
    }
    
    .line {
      z-index: 1;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 50px;
      background: repeating-linear-gradient(
        -45deg,     /* 角度の指定 */
        #fff,      /* 色A ... 開始 */
        #fff 4px,  /* 色A ... 終了 */
        $green 4px,      /* 色B ... 開始 */
        $green 6px   /* 色B ... 終了 */
      );

      @mixin notPC {
        height: 30px;
      }

      .Product--personal & {
        background: repeating-linear-gradient(
          -45deg,     /* 角度の指定 */
          #fff,      /* 色A ... 開始 */
          #fff 4px,  /* 色A ... 終了 */
          $light_green 4px,      /* 色B ... 開始 */
          $light_green 6px   /* 色B ... 終了 */
        );
      }
    }
  }

  &__main {
    display: flex;
    justify-content: center;
    padding: 90px 0 80px;
    position: relative;
    z-index: 2;

    @mixin notPC {
      flex-direction: column;
      display: block;
      padding-top: 0;
      padding-bottom: 0;
    }
    @mixin Smp {
      flex-direction: column;
    }

    .image {
      max-width: 650px;
      height: 430px;
      background-image: url("../../asset/image/product_img1.png");
      background-position: 50% 50%;
      background-size: cover;
      margin-right: 70px;
      flex: 1;

      @mixin notPC{
        max-width: none;
        height: 300px;
        width: 100%;
      }

      .Product--personal & {
        background-image: url("../../asset/image/product_img2.png");
      }
    }
    .textWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @mixin notPC{
        max-width: 500px;
        margin: 30px auto 0;
      }
    }
    .title {
      @mixin font-size 22;
      color: $green;
      text-align: center;
      width: 100%;
      padding-bottom: 18px;
      margin-bottom: 20px;
      border-bottom: 1px solid $green;

      @mixin notPC {
        margin-bottom: 20px;
      }

      .Product--personal & {
        color: $light_green;
        border-color: $light_green;
      }
    }
    .logo {
      width: 319px;
      height: 108px;
      margin-bottom: 20px;
      background-image: url("../../asset/image/logo_office.png");
      background-size: contain;
      background-repeat: no-repeat;
      @mixin hideText;

      @mixin notPC {
        margin-bottom: 20px;
      }

      .Product--personal & {
        background-image: url("../../asset/image/logo_personal.png");
      }
    }
    .lead {
      @mixin font-size 24;
      line-height: 50px;
      text-align: center;
      margin-bottom: 30px;

      @mixin notPC {
        line-height: 1.5;
        padding: 0 10px;
      }
    }
    .button {
      @mixin button-rounded;
      width: 300px;
      background-color: $green;
      color: white;
      margin-bottom: 30px;

      .Product--personal & {
        background-color: $light_green;
      }
    }
  }

  &__infoWrapper {
    width: 100%;
    padding: 64px 44px;

    @mixin notPC {
      padding: 0;
    }
  }

  &__info {
    display: flex;
    justify-content: center;

    @mixin notPC {
      flex-direction: column;
      align-items: center;
    }
  }

  &__infoText {
    margin-left: 56px;

    @mixin notPC {
      margin: 0 10px 64px;
      text-align: center;
    }

    p {
      @mixin font-size 18;
      line-height: 29px;

      }
    P + P {
      margin-top: 30px;
    }
  }

  &__storyList {
    display: flex;

    @mixin notPC {
      display: none;
    }
  }

  &__storyTitle {
    width: 567px;
    height: 109px;
    margin-bottom: 57px;
    background-image: url("../../asset/image/top/title_for_office.png");
    background-size: cover;
    background-repeat: no-repeat;
    @mixin hideText;

    @mixin notPC {
      width: 320px;
      height: 61px;
      margin: 39px auto 60px;
    }

    .Product--personal & {
      background-image: url("../../asset/image/top/title_for_personal.png");
      width: 567px;
      height: 90px;
    }
  }

  &__storyItem {
    display: flex;

    & + & {
      margin-left: 48px;
    }

    .textWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 10px;

      p {
        line-height: 29px;
        margin-bottom: 14px;
      }
      a {
        color: $green;
      }
    }
    .image {
      height: 123px;
      width: 123px;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 50%;

    }

    &--1 {
      .image {
        background-image: url("../../asset/image/product_img1.png");
      }
    }
    &--2 {
      .image {
        background-image: url("../../asset/image/product_img1.png");
      }
    }
  }

  &__localNavWrapper {
    background-color: $bg_light_gray;
    display: flex;
    justify-content: center;

    @mixin Smp {
      display: none;
    }

    .Product--personal & {
      height: 90px;
    }
  }

  &__localNav {
    display: flex;
    margin-left: -10px;
    margin-bottom: 35px;

    li {
      width: 275px;
      margin-right: 10px;
      border-top: 3px solid $border_light_gray;

      @mixin notPC {
        width: 200px;
      }
    }

    a {
      display: block;
      padding-top: 35px;
      text-align: center;
      color: $border_light_gray;
      @mixin font-size 18;
    }

    .is-current {
      border-color: $orange;

      a {
        color: $orange;
      }
    }
  }

  &__feature {
    max-width: 1400px;
    margin: 0 auto;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @mixin notPC {
      padding: 40px 0;
    }

    & + & {
      border-top: 1px solid $indicator_gray;
    }
  }

  &__featureTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    @mixin notPC {
      margin-bottom: 30px;
    }

    .image {
      background-size: contain;
    }

    .title {
      margin-left: 20px;
      color: $orange;
      @mixin font-size 22;
    }

    .Product__feature--office1 & {
      .image {
        width: 71px;
        height: 52px;
        background-image: url("../../asset/image/product/icon_office_1.png");
      }
    }
    .Product__feature--office2 & {
      .image {
        width: 133px;
        height: 52px;
        background-image: url("../../asset/image/product/icon_office_2.png");
      }
    }
    .Product__feature--office3 & {
      .image {
        width: 107px;
        height: 68px;
        margin-top: -16px;
        background-image: url("../../asset/image/product/icon_office_3.png");
      }
    }
    .Product__feature--office4 & {
      .image {
        width: 71px;
        height: 52px;
        background-image: url("../../asset/image/product/icon_office_4.png");
      }
    }
    .Product__feature--personal1 & {
      .image {
        width: 30px;
        height: 47px;
        background-image: url("../../asset/image/product/icon_personal_1.png");
      }
    }
    .Product__feature--personal2 & {
      .image {
        width: 134px;
        height: 51px;
        background-image: url("../../asset/image/product/icon_personal_2.png");
      }
    }
  }

  &__featureLead {
    @mixin font-size 30;
    margin-bottom: 64px;

    @mixin notPC {
      text-align: center;
      line-height: 1.4;
    }
    @mixin Smp {
      margin: 0 10px 30px;
    }

  }

  &__featureSubtext {
    color: $text_gray;
    margin-top: -30px;
    margin-bottom: 32px;
    line-height: 1.4;

    @mixin notPC {
      margin-top: 0;
      margin: 0 20px 32px;
      text-align: center;
    }
  }

  &__featureItem {
    display: flex;
    justify-content: center;

    @mixin notPC {
      flex-direction: column;
      padding: 0 20px;
    }
  }

  &__featureItemList {
    display: flex;
    justify-content: center;

    @mixin Smp {
      flex-wrap: wrap;
      max-width: 500px;
    }

    .arrow {
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      @mixin Smp {
        width: 40px;
        &:nth-of-type(4) {
          display :none;
        }
      }

      span {
        height: 30px;
        width: 30px;
        display: block;
        background:
        linear-gradient(to bottom right, rgba(255,255,255,0) 50%, $border_light_gray20 50.5%) no-repeat top left/100% 100%;
        transform: rotate(-45deg);
        margin-left: -16px;

        @mixin notPC {
          width: 20px;
          height: 20px;
        }
      }
    }

    .item {
      @mixin Smp {
        flex-basis: 40%;
        margin-bottom: 20px;
      }
    }

    .text {
      margin-top: 14px;
      color: $orange;
      text-align: center;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__featureItemText {
    margin-right: 55px;

    @mixin PC {
      max-width: 500px;
    }

    @mixin notPC {
      margin: 0;
      text-align: center;
    }

    .title {
      @mixin font-size 30;
      line-height: 52px;
      margin-bottom: 30px;
    }
    .lead {
      margin-bottom: 30px;
      line-height: 38px;
      color: $orange;
      @mixin font-size 22;

      @mixin notPC {
        margin-bottom: 10px;
      }
    }
    .text {
      color: $text_gray;
      line-height: 28px;
      margin-bottom: 30px;
    }
    .disclaim {
      @mixin font-size 13;
      color: $orange;
      padding-left: 1em;
      text-indent: -1em;

      @mixin notPC {
        margin-bottom: 30px;
      }
    }
  }

  &__featureItemImage {
    display: flex;
    
    @mixin notPC {
      justify-content: center;
    }

    .itemWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .itemWrapper + .itemWrapper {
      margin-left: 20px;
    }
    img:not(.no-border) {
      border: 1px solid $border_light_gray;
    }

    img {
      @mixin notPC {
        max-width: 100%;
        height: auto;
      }
    }
    .text {
      margin-top: 24px;
      color: $orange;

      @mixin notPC {
        max-width: 450px;
      }
    }
  }

  &__featureStep {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;

    @mixin Smp {
      flex-direction: column;
    }

    .step {
      display: flex;
      justify-content: center;
      width: 320px;
      margin-bottom: 20px;
    }
    .textWrapper {
      margin-right: 20px;
    }
    .image {
      position: relative;
    }
    .step3 {
      flex-basis: 100%;
      margin-bottom: 100px;
      margin-left: 40px;

      img {
        position: relative;
        top: 50%;
        margin-top: -40px;
      }

      @mixin LargePC {
        margin-bottom: 20px;
        flex-basis: auto;
      }
    }
    .number{
      @mixin font-size 30;
      color: $orange;
      margin-bottom: 42px;
    }
    .title {
      @mixin font-size 24;
      margin-bottom: 24px;
      width: 7em;

      @mixin Smp {
        @mixin font-size 20;
      }
    }
    .text {
      color: $text_gray;
      line-height: 28px;
      width: 9em;

      @mixin Smp {
        width: 8em;
      }
    }
    small {
      @mixin font-size 13;
      display: inline-block;
    }

    .step1,.step4 {
      margin-right: 70px;
    }

    @mixin LargePC {
      .step1,.step2,.step4 {
        margin-right: 70px;
      }
    }
    @mixin Smp {
      .step {
        margin-right: 0;
      }
    }
  }

  .Product__feature--personal1 {
    .step3 { 
      @mixin Smp {
        margin-left: 0;
        margin-bottom: 60px;

        img {
          max-width: 100%;
          height: auto
        }
      }
    }
  }
  .Product__feature--personal2 {
    .step3 { 
        margin-bottom: 20px;
        margin-left: 0;

        img {
          margin-top: 0;
          top: 0;
        }
    }
  }
}