/**
 * @mixin button
 */

@define-mixin button-rounded {
  display: block;
  height: 55px;
  color: black;
  text-align: center;
  line-height: 55px;
  background-color: white;
  border-radius: 55px;
}

@define-mixin button-square {
  display: block;
  width: 260px;
  height: 60px;
  color: black;
  border: 1px solid black;
  text-align: center;
  @mixin font-size 18;
  line-height: 60px;
}
