/* UTIL */

.Util {
  &-displayHiddenVisually {
    position: absolute!important;
    overflow: hidden!important;
    clip: rect(1px, 1px, 1px, 1px)!important;
    padding: 0!important;
    width: 1px!important;
    height: 1px!important;
    border: 0!important; 
  }
}

/* hideText for background-image */
@define-mixin hideText {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}