<footer class="Footer">

  <div class="Footer__wrapper">
    <div class="Footer__logo">
      <img src="../src/asset/image/logo.png" alt="トドケール" width="216" height="57" class="Footer__logo">
    </div>    
    <div class="Footer__menuList">
      <dl class="Footer__menu">
        <dt>︎MENU</dt>
        <dd><a href="#">ホーム</a></dd>
        <dd><a href="#">プロダクト</a></dd>
        <dd><a href="#">ケーススタディ</a></dd>
        <dd><a href="#">サポート</a></dd>
        <dd><a href="#">ブログ</a></dd>
        <dd><a href="#">会社概要</a></dd>
      </dl>
      <dl>
        <dt>オフィスでトドケール</dt>
        <dd class="Footer__productLogo"><a href="#"><img src="../src/asset/image/logo_office.png" alt="オフィスでトドケール" width="130" height="44"></a></dd>
        <dd class="Footer__dlButton"><a href="#" class="Icon Icon--buttonIos">App Storeからダウンロード</a></dd>
        <dd class="Footer__snsWrapper">
          <a href="#" class="Icon Icon--snsFb">Facebook</a>
          <a href="#" class="Icon Icon--snsTw">Twitter</a>
        </dd>
      </dl>
      <dl>
        <dt>自分でトドケール</dt>
        <dd class="Footer__productLogo"><a href="#"><img src="../src/asset/image/logo_personal.png" alt="自分でトドケール" width="130" height="44"></a></dd>
        <dd class="Footer__dlButton"><a href="#" class="Icon Icon--buttonIos">App Storeからダウンロード</a></dd>
      </dl>
    </div>
  </div>

  <div class="Footer__copyright"><small>© TODOKER. All Rights Reserved.</small></div>
</footer>
<!--/.Footer-->
