<section class="Header">
  <div class="Header__logoWrapper">
    <h1><a href="#" class="Header__logo Icon">トドケール</a></h1>
    <p class="Header__logoText">
      <b class="Util-displayHiddenVisually">モノの受け渡しを、見える化・効率化。</b>
    </p>
  </div>

  <div class="Header__menuWrapper">
    <a href="#" class="Icon Icon--menu">メニュー</a>
    <!-- <ul class="Header__menu">
      <li><a href="#">ホーム</a></li>
      <li><a href="#">プロダクト</a><i class="Icon Icon--arrow"></i>
        <ul>
          <li><a href="#">オフィスでトドケール</a></li>
          <li><a href="#">自分でトドケール</a></li>
        </ul>
      </li>
      <li><a href="#">ケーススタディー</a></li>
      <li><a href="#">サポート</a><i class="Icon Icon--arrow"></i>
        <ul>
          <li><a href="#">よくある質問</a></li>
          <li><a href="#">オンラインマニュアル</a></li>
          <li><a href="#">サポート問い合わせ</a></li>
        </ul>
      </li>
      <li><a href="#">ブログ</a></li>
      <li><a href="#">会社概要</a></li>
    </ul> -->
    <ul class="Header__menu">
      <li><a href="#">ホーム</a></li>
      <li><a href="./company.php">会社概要</a></li>
      <li><a href="./product_list.php">プロダクト一覧</a></li>
      <li><a href="./product_office.php">オフィスで</a></li>
      <li><a href="./product_personal.php">自分で</a></li>
      <li><a href="./stories.php">ケーススタディ</a></li>
      <li><a href="./story.php">ケーススタディの詳細</a></li>
      <li><a href="./faq.php">FAQ</a></li>
    </ul>
  </div>
  
</section>
<!--/.Header-->
