<section class="Header">
  <div class="Header__logoWrapper">
    <h1><a href="#" class="Header__logo Icon">トドケール</a></h1>
    <p class="Header__logoText">
      <b class="Util-displayHiddenVisually">モノの受け渡しを、見える化・効率化。</b>
    </p>
  </div>

  <div class="Header__menuWrapper">
    <a href="#" class="Icon Icon--menu">メニュー</a>
    <ul class="Header__menu">
      <li><a href="./">ホーム</a></li>
      <li><a href="./puroduct_list.php">プロダクト</a><i class="Icon Icon--arrow"></i>
        <ul>
          <li><a href="./product_office.php">オフィスでトドケール</a></li>
          <li><a href="./product_personal.php">自分でトドケール</a></li>
        </ul>
      </li>
      <li><a href="./stories.php">ケーススタディー</a></li>
      <li><a href="./faq.php">サポート</a><i class="Icon Icon--arrow"></i>
        <ul>
          <li><a href="#">よくある質問</a></li>
          <li><a href="#">オンラインマニュアル</a></li>
          <li><a href="#">サポート問い合わせ</a></li>
        </ul>
      </li>
      <li><a href="#">ブログ</a></li>
      <li><a href="./company.php">会社概要</a></li>
    </ul>
  </div>
  
</section>
<!--/.Header-->
